/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# secret environment variables
.env

# yardstick report
measurements/report.txt

# log files
*.log

# Rails secrets
local_secret.txt

# Kiro AI steering
.kiro
